.menu {
    background-color: black;
}

.menu > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-item {
    margin: 0;
    padding: 20px;
}

.menu-item:hover {
    background-color: white;
}

.menu-item > a {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    text-decoration: none;
}

.menu-item:hover > a {
    color: black;
    border-color: black;
}

.header {
    text-align: center;
}

.header > h1 {
    text-transform: uppercase;
}

.content {
    padding-right: 10px;
    border-right: 2px solid black;
}

.new > h2 {
    text-transform: capitalize;
    border-bottom: 2px solid black;
}

.new > p::first-letter {
    text-transform: capitalize;
}

@media (max-width: 550px) {
    .content {
        padding-right: 0;
        border-right: none;
    }
}

.button-primary {
    border-color: black !important;
    background-color: black !important;
}

.button-primary:hover {
    background-color: white !important;
    color: black !important;
}
